includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - src
        - config
        - recipe
    tmpDir: build/phpstan
    checkMissingCallableSignature: true
    ignoreErrors:
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
            path: config/*
